[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CiteFuse"]
	path = CiteFuse
	url = https://github.com/sydneybiox/citefuse
	shallow = true
	registered = true
[submodule "ClassifyR"]
	path = ClassifyR
	url = https://github.com/sydneybiox/classifyr
	shallow = true
	registered = true
[submodule "MoleculeExperiment"]
	path = MoleculeExperiment
	url = https://github.com/sydneybiox/moleculeexperiment
	shallow = true
	registered = true
[submodule "scClassify"]
	path = scClassify
	url = https://github.com/sydneybiox/scclassify
	shallow = true
	registered = true
[submodule "scFeatures"]
	path = scFeatures
	url = https://github.com/sydneybiox/scfeatures
	shallow = true
	registered = true
[submodule "scMerge"]
	path = scMerge
	url = https://github.com/sydneybiox/scmerge
	shallow = true
	registered = true
[submodule "scReClassify"]
	path = scReClassify
	url = https://github.com/sydneybiox/screclassify
	shallow = true
	registered = true
[submodule "simpleSeg"]
	path = simpleSeg
	url = https://github.com/sydneybiox/simpleseg
	shallow = true
	registered = true
