[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CiteFuse"]
	path = CiteFuse
	url = https://github.com/sydneybiox/citefuse
[submodule "ClassifyR"]
	path = ClassifyR
	url = https://github.com/sydneybiox/classifyr
[submodule "MoleculeExperiment"]
	path = MoleculeExperiment
	url = https://github.com/sydneybiox/moleculeexperiment
[submodule "Statial"]
	path = Statial
	url = https://github.com/sydneybiox/statial
[submodule "scClassify"]
	path = scClassify
	url = https://github.com/sydneybiox/scclassify
[submodule "scFeatures"]
	path = scFeatures
	url = https://github.com/sydneybiox/scfeatures
[submodule "scMerge"]
	path = scMerge
	url = https://github.com/sydneybiox/scmerge
[submodule "scReClassify"]
	path = scReClassify
	url = https://github.com/sydneybiox/screclassify
[submodule "simpleSeg"]
	path = simpleSeg
	url = https://github.com/sydneybiox/simpleseg
